#navbar{
    background-image: url(./hair-salon-logo-.jpg);
    background-size: 12% 100px;
    background-repeat: no-repeat;   
        margin: 0px;
        width: 100%;
        height: 100px;
        background-color:rgb(5, 4, 4);
        margin-top: 0px; 
        float:right;   
 }

#main{
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    display: flex;
    list-style: none;
    font-weight: bold;
    margin-left: 300px;
}

.li1{
    padding-top: 30px;
    text-align: center;
    margin-top: -22px;
    height: 50px;
    width: 120px;
    background-color: rgb(19, 5, 5);
    margin-left: -40px;
    margin-right: 100px;

}
.li1:hover{
    padding-top: 35px;
    text-align: center;
    margin-top: -22px;
    height: 50px;
    width: 120px;
    background-color: rgb(240, 6, 6);
    
}
#BookAPP{
    margin-left: 200PX;
    font-size: 20PX;
  border: 3.5PX red groove;
  width: 150PX;
  background-color:gray;
}
#BookAPP:hover{
    background-color: rgb(38, 171, 35);
    width:150px ;
    
    
}
#active{
    background-color: red;
}

a{
    color:white;
    text-decoration: none;    
}





#finite
{
    margin-top: 100px;
  
}






#services{
    font-size: 30px;
    word-spacing: 10px;
    margin-left: 500px;
    color:aqua;
    text-shadow:5px 5px 15px rgb(181, 10, 10) ;
    box-shadow:5px 5px 15px yellow ;
    width: 250px;
    
}
.sss
{
    margin-top: 100px;
}
#pricess{
    font-size: 30px;
    word-spacing: 10px;
    margin-left: 800px;
    margin-top: -60px;
    color:aqua;
    text-shadow:5px 5px 15px rgb(181, 10, 10) ;
    box-shadow:5px 5px 15px yellow ;
    width: 200px;
    
}

#prices{
    font-size: 23px;
    margin-left: 500px;
    word-spacing: 15px;
    text-transform: uppercase;
    color: azure;
    
}

#prices2{
    margin-left: 300px;
    word-spacing: 10px;
    text-transform: uppercase;
    color: azure;
    margin-top: -550px;
}
#gst
{
    color: rgb(243, 242, 242);
    margin-left: 230px;
    border: 5px red groove;
    width: 170px;
}